body{
    text-align: center;
    margin: auto;
}

nav{
    background-color: black;
}
nav ul{
    list-style: none;
    display: flex;
    text-align: center;

}

ul li{

    margin: 2em auto;
}

ul li a{
    text-decoration: none;
    color: white;
}
